
	:root {
		--blue-gradient: #41c8ff;
		--pink-gradient: #e61eff;
		--grad-one: #01306e;
		--grad-two: #58c5ef;
		--grad-three: #230327;
		--grad-four: #042835;
        --black: #000000;
        --white: #ffffff;
		--background-gradient: linear-gradient(
			-45deg, 
			(--grad-one), 
			(--grad-two), 
			(--grad-three), 
			(---four));

		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
        font-family: system-ui, sans-serif;
		color: var(--white);
		background: var(--black);
	}

    *, *::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
	line-height: 1.6em;
	background: linear-gradient(-45deg, #012347, #011f36, #200149, #122124);
}

	code {
		font-family:
			'monospace'
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New;
	}
	img {
		height: 400px;
		width: 700px;
		object-fit: fill;
	}
	@media (max-width: 800px) {
		img {
			height: 300px;
		    width: 380px;
		    object-fit: fill;
			margin: 20px;
		}
	}
	
