
	:root {
		--blue-gradient: #41c8ff;
		--pink-gradient: #e61eff;
		--grad-one: #01306e;
		--grad-two: #58c5ef;
		--grad-three: #230327;
		--grad-four: #042835;
        --black: #000000;
        --white: #ffffff;
		--background-gradient: linear-gradient(
			-45deg, 
			(--grad-one), 
			(--grad-two), 
			(--grad-three), 
			(---four));

		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
        font-family: system-ui, sans-serif;
		color: var(--white);
		background: var(--black);
	}

    *, *::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
	line-height: 1.6em;
	background: linear-gradient(-45deg, #01182f, #01293e, #230327, #042835);
}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	
