---

import '../styles/global.css'
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/900.css';
---

<section>
    <div class="blog-theme">
   
        <div class="title-text">
            <h1 class="infinte">infinite</h1>
            <h1 class="unordered">unordered</h1>
            <span class="leading-theme">The blog</span>
        </div>
        
    </div>
</section>

<style>
     section {
        padding-top: 100px;
    }
    
    .blog-theme {
      padding: 10px;
      margin-bottom: 60px;
      display: flex;
      flex-direction: row;
    }
    .title-text {
      font-family: 'Poppins', sans-serif;
      font-size: 5em;
      line-height: 1em;
      color: #292e2e;
      margin: 0;
      padding: 20px;
      font-weight: 800;
    }
    .unordered {
        color: #474e4e;
    }
    .leading-theme {
        font-size: 0.7em; 
    }
</style>
